.App {
  text-align: center;
}

* {
  font-family: "Montserrat", sans-serif;
}

.ui.list .list > .item .header,
.ui.list > .item .header,
.ui.header,
.ui.form input,
h1,
h2,
h3,
h4,
h5,
button,
input,
optgroup,
select,
textarea {
  font-family: "Montserrat", sans-serif !important;
}

body {
  background-color: #e6edf4;
}
